header {
    display: flex;
    align-items: center;
    /* Centers top/bottom */
    justify-content: space-between;
    padding: 0 20px;
    background: #f6d8bb;
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.titleBar {
    background-color: #FFDAB9;
    padding: 10px;
    text-align: left;
    font-family: Avenir, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .titleBar {
        font-size: 1em;
    }
}

a {
    color: black;
    text-decoration: none;
    font-family: Avenir, sans-serif;
    text-align: right;
    opacity: 0.7;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: purple;
}

a:active {
    color: red;
}


footer {
    background-color: #FFDAB9;
    padding: 10px;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 1em;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}