body {
    padding-top: 85px;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    /* Centers top/bottom */
    justify-content: space-between;
    padding: 0 20px;
    background: #f6d8bb;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.titleBar {
    background-color: #FFDAB9;
    padding: 10px;
    text-align: left;
    font-family: Avenir, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .titleBar {
        font-size: 1em;
    }
}

a {
    color: black;
    text-decoration: none;
    font-family: Avenir, sans-serif;
    text-align: right;
    opacity: 0.7;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: purple;
}

a:active {
    color: red;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.featured-container {
    h4 {
        text-decoration: underline;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: stretch;


}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid lightsalmon;
    border-radius: 15px;

    padding: 20px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-left: 20px;


}

.menuItem:hover {
    scale: 1.05;
    /*transition: transform 0.3s ease;*/
    cursor: pointer;

}

.menuItem img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

.saladoptions {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    width: fit-content;
}

.saladtoppings {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-weight: bold;
    font-family: broadway, sans-serif;
    padding-left: 32px;
}

h4,
h5 {
    font-family: roboto;
}

section {
    margin-bottom: 80px;
}