* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 24px;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 80px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
    z-index: 1000;
    padding-top: 24px;
    padding-bottom: 24px;


}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

header {
    margin-top: 32px;
    padding: 10px 0;
    background-color: lightgray;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

header h2 {
    text-transform: uppercase;
    margin: 36px 0 16px 0;
}

header span {
    font-style: italic;
    text-transform: uppercase;
}

header p {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 32px;
    text-transform: capitalize;
}

section h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

section p {
    margin-bottom: 16px;
    font-size: .8em;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 15px; */
}

.item {
    padding: 5px;
    text-align: center;
    border-right: 2px solid dimgray;
}

.item:last-child {
    border-right: none;
}

.item img,
.item video {
    width: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 800px) {

    .menu {
        grid-template-columns: 1fr;
    }

    .item {
        border-right: none;
    }

}

.item p {
    text-align: justify;
    margin-top: 2px;
    font-size: .70em;
}

.form {
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.form h3 {
    flex-basis: 100%;
    margin-bottom: 8px;
}


.form label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form input,
.form button {
    border-radius: 5px;
    /* padding: 6px 10px; */
    border: 2px solid #333;
    box-shadow: 3px 3px 0 black;

}

@media (max-width:1000px) {

    .form,
    .form form {
        flex-direction: column;
    }
}

.financial h3,
.about h3 {
    text-align: left;
}

.tableTitle {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
}

.financial-table {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    font-size: .9rem;
}

.financial-table th,
.financial-table td {
    border: 1px solid black;
    padding: 3px 8px;
}

.financial-table thead th {
    background: #f4f4f4;
    text-align: center;
}



.financial-table tbody tr:nth-child(odd) {
    background: lightcyan;
}

.financial-table tbody tr:nth-child(even) {
    background: lightblue;
}

.financial-table tbody tr:hover {
    background-color: blue;
}

.financial-table td {
    text-align: right;
}

.financial-table td:first-child,
.financial-table th:first-child {
    text-align: center;
    font-weight: bold;
}

tbody td:last-child,
.total {
    color: red;
}



.financial-table tfoot td:first-child {
    font-weight: bold;
    text-align: right;
}

.tableScroll {
    width: 100%;
    overflow-x: auto;

}

.about {
    text-align: left;
}

footer {
    background-color: black;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 32px; */
    z-index: 1000;
    /* padding: 10px 0; */
    padding: 12px 0;
    /* margin-top: 8px; */
    /* text-align: left; */
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    align-items: center;
    display: flex;


}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}